.form{
    height:450px ;
    width: 800px;
    
margin-left: 400px;
margin-top: 100px;
    background-color: aqua;
}
.logo-part{
    height: 410px;
    width: 300px;
    padding-left: 50px;
    padding-top: 40px;
    background: yellow;
}
.login{
    display: inline-block;
    background: red;
    height: 410px;
    width: 300px;
    margin: 1px;
}