.main {
    height: 450px;
    width: 700px;

    margin-left: 30%;
    margin-top: 10%;

    
    border: 2px solid grey;
    box-shadow: 4px gray;
    display: inline-block;
}

.logo-part {
    height: 91.5%;
    width: 40%;
    background-image: url(bg.jpg);
    background-position: center;

    
   display: inline-block;
}

.login {
    height: 100%;
    width: 40%;
  
    
    padding-right: 10px;
  padding-left: 10px;
    
    display: inline-block;
}
#logo{
    align-items: end;
}
.userspass:hover{
background: white;
}
#submit {
    height: 30px;
    width: 110%;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: .5s;
}
#submit:hover{
    background: rgb(49, 78, 221);
}
h3{
    text-decoration: underline;
}

#reset {
    height: 30px;
    width: 110%;
    border-radius: 10px;
    transition: .5s;
}
#reset:hover{
    background: blue;
}

#username {
    height: 30px;
    width: 290px;
    margin-bottom: 15px;
}

#password {
    height: 30px;
    width: 290px;
    margin-bottom: 15px;
}